@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../fonts/NanumSquare/NanumSquareR.eot);
 src: url(../fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareR.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../fonts/NanumSquare/NanumSquareB.eot);
 src: url(../fonts/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareB.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../fonts/NanumSquare/NanumSquareEB.eot);
 src: url(../fonts/NanumSquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareEB.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../fonts/NanumSquare/NanumSquareL.eot);
 src: url(../fonts/NanumSquare/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumSquare/NanumSquareL.woff) format('woff'),
      url(../fonts/NanumSquare/NanumSquareL.ttf) format('truetype');
}
