@charset "utf-8";

/* 서브 상단 */

.sub_top {
  height: 293px;
  background: url(../img/subTopBg.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.sub_top .tit {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 3em;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  z-index: 1;
  font-weight: 500;
}

.sub_top .wrap {
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}


/* 서브 메뉴 */

.sub_navi_wrap {
  border-top: solid 1px rgba(255, 255, 255, .3);
  border-bottom: solid 1px rgba(255, 255, 255, .3);
  position: absolute;
  background: rgba(53, 58, 69, .5);
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
}

.sub_navi::after {
  content: '';
  display: block;
  clear: both;
}

.sub_navi {
  border-left: solid 1px rgba(255, 255, 255, .3);
  position: relative;
  z-index: 2;
}

.sub_navi>li {
  float: left;
  border-right: solid 1px rgba(255, 255, 255, .3);
  height: 100%;
  position: relative;
}

.sub_navi a {
  display: block;
  height: 60px;
  padding-left: 1em;
  padding-right: 2em;
  min-width: 220px;
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: -0.05em;
  transition: all .5s ease-out 0s;
  color:#fff;
}

.sub_navi a:hover,
.sub_navi a:focus {
  background: rgba(53, 58, 69, 1);
  color: #fff;
}

.sub_navi .path_home {
  width: 60px;
}

.sub_navi .path_home a {
  padding: 0;
  min-width: 60px;
  justify-content: center;
  font-size: 25px;
}

.sub_navi .depth1>a::after,
.sub_navi .depth2>a::after {
  content: 'keyboard_arrow_down';
  display: inline-block;
  font-size: 24px;
  width: 24px;
  font-family: 'Material Icons';
  line-height: 1;
  letter-spacing: normal;
  position: absolute;
  right: 10px;
  top: 20px;
}

.sub_navi .depth1.active>a::after,
.sub_navi .depth2.active>a::after {
  content: 'keyboard_arrow_up';
}

.sub_navi>li ul {
  display: none;
  position: absolute;
  left: 0px;
  top: 60px;
  border: solid 1px #e6e6e6;
  background: #fff;
  z-index: 1;
  width: 100%;
}

.sub_navi>li ul a {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px #dcdcdc;
  height: auto;
  width: 100%;
  min-width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
}


/* 서브 컨텐츠 타이틀 */

.sub_contents {
  padding-top: 20px;
  padding-bottom: 50px;
  line-height: 1.3;
  color: #666;
  font-weight: 300;
}

.sub_title {
  font-size: 2em;
  font-family: 'NanumSquare', sans-serif;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  padding-top: .8em;
  font-weight: 700;
  color: #444;
  display: block;
}

.sub_title.white {
  color: #fff;
}

.sub_title::before {
  content: '';
  display: block;
  width: 20px;
  height: 5px;
  background: #2498ec;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
}

.sub_title.white::before {
  background: #fff;
}


/* 인사말 */

.searchMember {
  background: url('../img/subBg_01.jpg') no-repeat 0 0;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 50px;
}

.searchMember .search {
  width: 50%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.searchMember .search input {
  width: 100%;
  font-size: 2em;
  padding: 5px 1em;
}

.searchMember .search button i {
  line-height: 1;
}

.searchMember .search button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  width: 70px;
  line-height: 2em;
}
/* 부서별업무안내 */
.work_info li{
  padding: 10px;
}
.work_info .item{
  border:solid 1px #dcdcdc;
  border-top: solid 2px #2498ec;
  padding: 20px;
  transition: all .5s ease-in-out 0s;
}
.work_info .item p{
  margin-top: 20px;
  margin-bottom: 20px;
}
.work_info .item:hover{
  background: #f8f8fa;
}
.work_info .tit{
  font-size: 1.3em;
  font-family: 'NanumSquare',sans-serif;
  font-weight: 400;
  text-align: center;
  color: #333;
  height:1.3em;
  overflow:hidden;
}
.work_info .comment{
	height:3.9em;
	overflow:hidden;
}
.work_info .btnBar{
  text-align: center;
}
.work_info .btnBar button{
  width: 50%;
}
#workModal .modal-body{
  font-size: 1em;
  font-family: 'NanumSquare',sans-serif;
  font-weight: 400;
}
.list-decimal{
  padding-left: 30px;
}
.list-decimal li{
  list-style: decimal;
  margin-bottom: 15px;
}
.bbs_search .bbs_sbtn01{
	margin-bottom:0 !important;
}
/* 조직도 */
.organization{
  position: relative;
}
.organization::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/organization_img2.png) no-repeat 50% 130px;
  opacity: .5;
}
.org-top span{
  display: inline-block;
  width: 321px;
  height: 140px;
  background: url("../img/organization_img.png") no-repeat 50% 0;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  padding-top: 90px;
  text-shadow: 1px 1px 3px rgba(0,0,0,.2);
  font-family: 'NanumSquare', sans-serif;
}
.org-group{
  /* background: url(../img/organization_bg.png) no-repeat 50% 100%; */
  background-size: 60%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1;
  position: relative;
  /* min-height: 800px; */
}
.org-group ul.list1{
  width: 60%;
  float: left;
}
.org-group ul.list2{
  width: 30%;
  float: right;
}
.org-group>ul>li{
  width: 50%;
  float: left;
  padding: 15px 20px;
}
.org-group ul.list2>li{
  width: 100%;
}
.org-group .item{
  background: #fff;
  padding: 20px;
  border:solid 1px #dcdcdc;
  border-top: #008fcb solid 2px;
}
.org-group ul.list2 .item{
  border-top-color: #b2ddad;
}
.org-group .item ul{
  background: #fafafa;
  padding: 10px;
  margin-top: 10px;
}
.org-group .item ul li{
  margin:10px 0;
}

@media screen and (max-width: 1200px) {
  .sub_contents .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .org-group{
    padding-left: 10px;
    padding-right: 10px;
    min-height: auto;
  }
  .org-group ul.list1{
    width: 60%;
  }
  .org-group ul.list2{
    width: 40%;
  }
  .org-group>ul>li{
    padding: 10px 10px;
  }
}
@media screen and (max-width: 900px) {
  .org-group ul.list1{
    width: 50%;
  }
  .org-group ul.list2{
    width: 50%;
  }
  .org-group ul.list1 li{
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sub_contents .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sub_top {
    height: 150px;
    font-size: .8em;
  }
  .sub_top .tit {
    top: 30px;
    line-height: 1em;
    font-size: 28px;
  }
  .sub_navi .depth1,
  .sub_navi .depth2 {
    width: 30%;
    min-width: 125px;
  }
  .sub_navi .depth1>a,
  .sub_navi .depth2>a {
    width: 100%;
    min-width: auto;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    line-height: 60px;
  }
  .org-group ul.list1{
    width: 100%;
  }
  .org-group ul.list2{
    width: 100%;
  }
}